body {
    max-width: 1510px;
    height: 951px;
    min-height: 190px;
    background-image: url(img/image.png);
    font-family:'Raleway', sans-serif;
    }
.header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    }
.header__logo {
    margin-left: 115px;
    margin-top: 22px;
    }
li {
    margin: 30px;
    list-style-type: none;
    line-height: 19px;
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
    }
li>a {
    color: #fff;
    }
.header__nav {
    height: 75px;
    padding-right: 170px;
    margin:0;
    display: flex;
    flex-direction: row;
    }
.main_input>input {
    display: block;
    width: 280px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 5px;
    padding-left: 10px;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-family:'Open Sans', sans-serif;
    }
.main__left {
    margin-top: 220px;
    margin-left: 100px;
    width: 45%;
    float: left;
    }
.line {
    border-bottom: 1px solid #fff;
    width: 80px;
    float: left;
    }
.main_small {
    float: left;
    }
.main_box {
    margin-top: 220px;
    margin-right: 70px;
    width: 470px;
    height: 459px;
    float: right;
    background-color: #fff;
    border-radius: 10px;
    }
h4 {
    display: block;
    margin-left: 20%;
    }
span {
    color: #EC7979;
    }
.but {
    width: 470px;
    height: 60px;
    background-color: #EC7979;
    }
.main_buttom {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 220px;
    height: 30px;
    float: left;
    color: #fff;
    border: 2px solid #fff;
    }