body {
    max-width: 1510px;
    font-family:'Raleway', sans-serif ;
}
@media screen and (max-width: 960px) {
    body {
    width: 720px;
    margin:0;
}
    .main__login_but {
        margin-left: 5rem;
}
    .main__people {
        margin-left: 3rem;
}
    .main__txt_h:after {
        margin-top: 1rem;
}
    input {
    flex-direction: column;
}
}
h5 {
    color: #86878B;
}
header {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    width: 170px;
    border: 1px solid #EC7979;
}
.main__txt, .main__people, .main__contact_us {
    max-width: 1510px;
    margin-left: 5rem;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.main__txt>h5 {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #E2E2E2;
    color: #86878B;
    border-radius: 10px;
}
.main__txt_h:after {
    content: "";
    border: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
    margin-top: 1rem;
    margin-right: 11rem;
    display: flex;
    justify-content: space-around;
}
.photo {
    position: relative;
    top: 5rem;
    right: 5rem;
}
.main__picture {
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    background: rgba(0, 0, 0, 0.7) url(img/image.png);
    background-blend-mode: darken;
}
.main__picture_h {
    color: #FFF;
}
.main__picture_hr {
    border: 1px solid #FFF;
}
.main__picture_but {
    width: 370px;
    height: 60px;
    background: transparent;
    cursor: pointer;
    color: #FFF;
    border: 2px solid #FFFFFF;
    font-size: 18px;
}
.main__contact_us {
    height: 170px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__login {
    height: 400px;
    padding-left: 5rem;
}
input {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline:none;
    font-family:'Open Sans', sans-serif ;
}
input:hover{ 
    border: none;
    border-bottom: 1px solid #EC7979;
}
.main__login_txt {
    margin-left: 3rem;
    width: 350px;
    position: absolute;
    margin-top: -10rem;
    padding-bottom: 11rem;
}
.main__login_but {
    width: 320px;
    height: 60px;
    margin-left: 20rem;
    background: #EC7979;
    color: #FFF;
    cursor: pointer;
    border: none;
    font-family:'Open Sans', sans-serif ;
}
.footer {
    height: 164px;
    background-color: #000;
}
.footer__contact {
    display: flex;
    justify-content: center; 
}
a {
    align-items: center;
    margin-left: 2em;
    padding: 1em 0;
}
.footer__txt {
    text-align: center;
    color: #FFF;
    opacity: 50%;
}